html
    head
        title Notification
        style
            include ../assest/style.css
    body
        if !IsError
            if IsDataPresent != null && IsDataPresent
                div(class="form--box")
                    div(class="form-select")
                        select(id="ddlChange" onchange = 'RenderChangeEvent(this.value)')
                                option(value="CALL") Call
                                option(value="SMS") SMS
                    
                    div(style='' id = 'CallDiv')
                        if CallData.length > 0 
                            table(class="table--data" border="0" cellpadding="0" cellspacing="0" style="text-align:center;")
                                th Date 
                                th MobileNumber
                                    for ObjCall in CallData
                                        tr
                                            td  #{ObjCall.Date}
                                            td(class="fw600")  #{ObjCall.MobileNumber}
                        else
                            p(style='text-align:center;') No incoming call(s)


                    div(style='display:none;' id = 'SMSDiv')
                        if SMSData.length > 0
                            table(class="table--data" border="0" cellpadding="0" cellspacing="0" style="text-align:center;")
                                    th(width="16%") Date 
                                    th Message
                                    th(width="16%") From
                                        for ObjSMS in SMSData
                                            tr
                                                td  #{ObjSMS.Date}
                                                td(class="fw600")  #{ObjSMS.Message}
                                                td  #{ObjSMS.MobileNumber}
                        else
                            p(style='text-align:center;') No incoming sms
            else
                div
                p We didn't find any more information about this User
        else
            p An error has occured!
    script(type="text/javascript").
        function RenderChangeEvent(value)
        {
            if(value == "SMS"){
                document.getElementById("SMSDiv").style.display = "block";
                document.getElementById("CallDiv").style.display = "none";                
                }
            else{
                document.getElementById("SMSDiv").style.display = "none";
                document.getElementById("CallDiv").style.display = "block";                

            }
            
        }